@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

@media (max-width: 1230px) {


  .users-side{
  width:330px !important;
  }

}
@media (max-width: 800px) {


  .users-side{
  width:100% !important;
  }
  .back-icon{
    display:block !important;
  }
  .message-input {
    position:fixed;
    bottom:0;
    left:0;
    right:0;

  }
  .message-card{
    padding-bottom:4.4rem !important;
  }
  #EmptyChatRoom{
    display:none;
  }

}
